//mermaid.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.aa019488-e099-4297-b81a-cb3339fcfd9a/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@impactsense:registry=https://mermaid.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.aa019488-e099-4297-b81a-cb3339fcfd9a/contents/release/npm/
